<div class="row text-center">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <div class="gravatar_edit">
          <div class="avatar-wrapper">
            <%= image_tag('default-profile.png', alt: "default", class: "gravatar", id: "img-prev") %>
          </div>
          <%= button_tag "Upload image", class: "btn btn-default", type: "button",id: "change-img-btn" %>
          <%= f.file_field :avatar,
            placeholder: 'Upload picture',
            id: "change-img-field",
            onchange: "changeImg(this);",
            direct_upload: true
           %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>