<div class="row text-center">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: group, local: true, class: 'form') do |form| %>
      <% if group.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>
          <ul>
            <% group.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <div class="gravatar_edit">
          <div class="group-avatar-wrapper">
            <%= image_tag('default.png', alt: "default", class: "gravatar", id: "group-img-prev") %>
          </div>
          <%= button_tag "Upload image", class: "btn btn-default", type: "button", id: "change-img-btn" %>
          <%= form.file_field :icon, placeholder: 'Upload picture', id: "change-img-field", onchange: "changeGroupImg(this);" %>
        </div>
      </div>

      <div class="form-group">
        <div class="field">
          <%= form.label :name %>
          <%= form.text_field :name, class: 'form-control' %>
        </div>
      </div>

      <div class="btn-container">
        <%= form.submit "Create", class: "btn btn-green"  %>
      </div>
    <% end %>
  </div>
</div>