<li id="time-entry-<%= time_entry.id %>">
  <div>
    <%= image_tag group_img(time_entry.group), alt: "time entry group" %>
  </div>
  <div class="details">
    <div>
      <div><%= time_entry.name %></div>
      <div><%= formatted_duration(time_entry.amount) %></div>
    </div>
    <div>
      <%= time_entry.created_at.strftime("%d %b %Y") %>
    </div>
  </div>
</li>