<p id="notice"><%= notice %></p>

<h1>Time Entries</h1>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Name</th>
      <th>Amount</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @time_entries.each do |time_entry| %>
      <tr>
        <td><%= time_entry.author_id %></td>
        <td><%= time_entry.name %></td>
        <td><%= time_entry.amount %></td>
        <td><%= time_entry.group_id %></td>
        <td><%= link_to 'Show', time_entry %></td>
        <td><%= link_to 'Edit', edit_time_entry_path(time_entry) %></td>
        <td><%= link_to 'Destroy', time_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Time Entry', new_time_entry_path %>
