<!DOCTYPE html>
<html>
  <head>
    <title>Capstone Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <body>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <div class="wrapper">
      <!-- Sidebar  -->
      <nav id="sidebar">
        <div class="sidebar-header">
          <h3>Bootstrap Sidebar</h3>
        </div>

        <ul class="list-unstyled components">
          <li>
            <%= link_to 'All my transactions', my_time_entries_path, class: "dropdown-toggle" %>
          </li>
          <li>
            <%= link_to 'All my external transactions', time_entries_path, class: "dropdown-toggle" %>
          </li>
          <li>
            <%= link_to 'All groups', groups_path, class: "dropdown-toggle" %>
          </li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
        </ul>
      </nav>

      <!-- Page Content  -->
      <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <div class="row">
              <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fa fa-bars"></i>
              </button>
              <h1 class="d-inline"><%= yield(:title) %></h1>
            </div>
          </div>
        </nav>
        <%= yield %>
      </div>
    </div>
    <script type="text/javascript">
      $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
          $('#sidebar').toggleClass('active');
        });
      });
    </script>    
  </body>
</html>
